<div class="container" id="main">
    <section class="section-right" id="works">
        <p class="section-title parallax" data-parallax="1">Works</p>
        <div class="content-works">
            <h2>Done projects</h2>
            <div class="container-project descr">
                <div class="hero-projects" onclick="top.location = '#/gallery'">
                    <img src="../assets/images/wireframe-cover.avif" alt="projects image">
                    <h3>Discover</h3>
                </div>
                <p class="work-descr">Explore all my personal projects — most of them started as simple exercises or sparked by <mark>curiosity</mark>.</p>
                <a href="#/gallery" class="button">SEE MORE</a>
            </div>
        </div>
    </section>
</div>