<div class="container" id="main">
    <header>
        <p class="section-title">About</p>
        <div class="hero">
            <img src="./assets/images/me.png" alt="alex timoncini portrait">
        </div>
        <article class="content">
            <div class="d-auto">
                <h1 id="multi_title">Alex<br>Timoncini</h1>
                <div class="descr">
                    <span class="section-name">ABOUT</span>
                    <p class="common-text">I build with <mark>simplicity</mark> and <mark>elegance</mark> at the core—clean code, <mark>thoughtful</mark> design, and a seamless user experience. In a world full of noise, I find <mark>peace</mark> in creating refined, <mark>minimalist</mark> digital spaces where technology feels effortless and <mark>natural</mark>.</p>
                    <div class="socials">
                        <a href="https://github.com/AlexTimoncini/" class="social">
                            <img src="./assets/images/github.svg" alt="github icon" class="img-fluid">
                        </a>
                        <a href="https://linkedin.com/in/alex-timoncini" class="social">
                            <img src="./assets/images/linkedin.svg" alt="github icon" class="img-fluid">
                        </a>
                    </div>
                    <a href="mailto:timoncinidev@gmail.com" target="_blank" class="button">CONTACT ME</a>
                </div>
            </div>
        </article>
    </header>
    <section class="section-right" id="skills">
        <p class="section-title">Skills</p>
        <article class="content">
            <div class="d-auto">
                <h1>Here's some of my skills</h1>
                <div class="descr">
                    <span class="section-name">SKILLS</span>
                    <p class="common-text">I build with <mark>simplicity</mark> and <mark>elegance</mark> at the core—clean code, <mark>thoughtful</mark> design, and a seamless user experience. In a world full of noise, I find <mark>peace</mark> in creating refined, <mark>minimalist</mark> digital spaces where technology feels effortless and <mark>natural</mark>.</p>
                    <div class="socials">
                        <a href="https://github.com/AlexTimoncini/" class="social">
                            <img src="./assets/images/github.svg" alt="github icon" class="img-fluid">
                        </a>
                        <a href="https://linkedin.com/in/alex-timoncini" class="social">
                            <img src="./assets/images/linkedin.svg" alt="github icon" class="img-fluid">
                        </a>
                    </div>
                    <a href="mailto:timoncinidev@gmail.com" target="_blank" class="button">CONTACT ME</a>
                </div>
            </div>
        </article>
        <div class="hero">
            <img src="./assets/images/skills.webp" alt="alex timoncini portrait">
        </div>
    </section>
</div>