<div class="container" id="main">
    <header>
        <p class="section-title">About</p>
        <div class="hero">
            <img src="./assets/images/me.png" alt="alex timoncini portrait">
        </div>
        <article class="content">
            <div class="d-auto">
                <h1>Alex<br>Timoncini</h1>
                <div class="descr">
                    <span class="section-name">ABOUT</span>
                    <p class="common-text">I build with <mark>simplicity</mark> and <mark>elegance</mark> at the core—clean code, <mark>thoughtful</mark> design, and a seamless user experience. In a world full of noise, I find <mark>peace</mark> in creating refined, <mark>minimalist</mark> digital spaces where technology feels effortless and <mark>natural</mark>.</p>
                    <div class="socials"></div>
                    <button class="button pri">VIEW MY WORKS</button>
                </div>
            </div>
        </article>
    </header>
</div>