<div class="container" id="main">
    <header>
        <p class="section-title parallax" data-parallax="1">About</p>
        <div class="hero scroll-fade-in">
            <img src="./assets/images/me.png" alt="alex timoncini portrait" draggable="false">
        </div>
        <article class="content scroll-fade-in delay-1">
            <div class="d-auto">
                <h1 id="multi_title">Alex<br>Timoncini</h1>
                <div class="descr">
                    <span class="section-name">ABOUT</span>
                    <p class="common-text">I build with <mark>simplicity</mark> and <mark>elegance</mark> at the core—clean code, <mark>thoughtful</mark> design, and a seamless user experience. In a world full of noise, I find <mark>peace</mark> in creating refined, <mark>minimalist</mark> digital spaces where technology feels effortless and <mark>natural</mark>.</p>
                    <div class="socials">
                        <a href="https://github.com/AlexTimoncini/" class="social">
                            <img src="./assets/images/github.svg" alt="github icon" class="img-fluid">
                        </a>
                        <a href="https://linkedin.com/in/alex-timoncini" class="social">
                            <img src="./assets/images/linkedin.svg" alt="github icon" class="img-fluid">
                        </a>
                    </div>
                    <a href="#/journey" class="button">MY JOURNEY</a>
                </div>
            </div>
        </article>
    </header>
    <section class="section-right" id="skills">
        <p class="section-title parallax" data-parallax="-1">Skills</p>
        <article class="content">
            <div>
                <h2>Here's some of my skills</h2>
                <div class="descr">
                    <span class="section-name">SKILLS</span>
                    <div class="list-wrap">
                        <div class="scroll-fade-in">
                            <h3>1 - FRONT-END DEVELOPMENT</h3>
                            <ul>
                                <li>HTML</li>
                                <li>CSS / SASS / Bootstrap</li>
                                <li>Vanilla JS  / Jquery</li>
                                <li>Vue.js + Vite</li>
                            </ul>
                        </div>
                        <div class="scroll-fade-in delay-1">
                            <h3>2 - BACK-END DEVELOPMENT</h3>
                            <ul>
                                <li>PHP</li>
                                <li>Laravel</li>
                                <li>Symfony</li>
                            </ul>
                        </div>
                        <div class="scroll-fade-in delay-2">
                            <h3>3 - DATABASE MANAGEMENT</h3>
                            <ul>
                                <li>MySql</li>
                                <li>Eloquent</li>
                                <li>Doctrine</li>
                            </ul>
                        </div>
                        <div class="scroll-fade-in delay-3">
                            <h3>4 - CODING TEACHING</h3>
                            <ul>
                                <li>In-site and online coding lessons</li>
                                <li>Writing and reviewing exercises</li>
                            </ul>
                        </div>
                    </div>
                    <a href="#/skills" class="button">SEE MORE</a>
                </div>
            </div>
        </article>
        <div class="hero">
            <img src="./assets/images/skills-bg.jpg" alt="skills image">
        </div>
    </section>
</div>