<div class="container" id="main">
    <section class="section-right" id="skills">
    <p class="section-title parallax" data-parallax="-1">Skills</p>
    <article class="content">
        <div>
            <h1>Here's some of my skills</h1>
            <div class="descr">
                <span class="section-name">SKILLS</span>
                <div class="list-wrap">
                    <div class="scroll-fade-in">
                        <h3>1 - FRONT-END DEVELOPMENT</h3>
                        <ul>
                            <li>HTML</li>
                            <li>CSS / SASS / Bootstrap</li>
                            <li>Vanilla JS  / Jquery</li>
                            <li>Vue.js + Vite</li>
                        </ul>
                    </div>
                    <div class="scroll-fade-in delay-1">
                        <h3>2 - BACK-END DEVELOPMENT</h3>
                        <ul>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Symfony</li>
                        </ul>
                    </div>
                    <div class="scroll-fade-in delay-2">
                        <h3>3 - DATABASE MANAGEMENT</h3>
                        <ul>
                            <li>MySql</li>
                            <li>Eloquent</li>
                            <li>Doctrine</li>
                        </ul>
                    </div>
                    <div class="scroll-fade-in delay-3  ">
                        <h3>4 - CODING TEACHING</h3>
                        <ul>
                            <li>In-site and online coding lessons</li>
                            <li>Writing and reviewing exercises</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="hero">
        <img src="./assets/images/skills-bg.jpg" alt="skills image">
    </div>
</section>
</div>