<div class="container" id="main">
    <section class="section-right" id="skills">
        <p class="section-title parallax" data-parallax="-1">Skills</p>
        <article class="content">
            <div>
                <h1>My skills</h1>
                <div class="descr">
                    <span class="section-name">SKILLS</span>
                    <div class="list-wrap">
                        <div class="scroll-fade-in">
                            <h3>1 - FRONT-END DEVELOPMENT</h3>
                            <ul>
                                <li>HTML</li>
                                <li>CSS / SASS / Bootstrap</li>
                                <li>Vanilla JS  / Jquery</li>
                                <li>Vue.js + Vite</li>
                            </ul>
                        </div>
                        <div class="scroll-fade-in delay-1">
                            <h3>2 - BACK-END DEVELOPMENT</h3>
                            <ul>
                                <li>PHP</li>
                                <li>Laravel</li>
                                <li>Symfony</li>
                            </ul>
                        </div>
                        <div class="scroll-fade-in delay-2">
                            <h3>3 - DATABASE MANAGEMENT</h3>
                            <ul>
                                <li>MySql</li>
                                <li>Eloquent</li>
                                <li>Doctrine</li>
                            </ul>
                        </div>
                        <div class="scroll-fade-in delay-3">
                            <h3>4 - CODING TEACHING</h3>
                            <ul>
                                <li>In-site and online coding lessons</li>
                                <li>Writing and reviewing exercises</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="hero">
            <img src="./assets/images/skills-bg.jpg" alt="skills image">
        </div>
    </section>
    <section id="levels">
        <p class="section-title parallax" data-parallax="1">Levels</p>
        <h2 class="scroll-fade-in">Levels</h2>
        <div class="levels">
            <div class="level scroll-fade-in">
                <div class="box">
                    <div class="percent" data-text="HTML" style="--num: 100">
                        <div class="dot"></div>
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                    </div>
                    <div class="number">
                        <h2>100<span>%</span></h2>
                    </div>
                </div>
            </div>
            <div class="level scroll-fade-in delay-1">
                <div class="box">
                    <div class="percent" data-text="CSS" style="--num: 100">
                        <div class="dot"></div>
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                    </div>
                    <div class="number">
                        <h2>100<span>%</span></h2>
                    </div>
                </div>
            </div>
            <div class="level scroll-fade-in delay-1">
                <div class="box">
                    <div class="percent" data-text="JS" style="--num: 90">
                        <div class="dot"></div>
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                    </div>
                    <div class="number">
                        <h2>90<span>%</span></h2>
                    </div>
                </div>
            </div>
            <div class="level scroll-fade-in delay-2">
                <div class="box">
                    <div class="percent" data-text="PHP" style="--num: 75">
                        <div class="dot"></div>
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                    </div>
                    <div class="number">
                        <h2>75<span>%</span></h2>
                    </div>
                </div>
            </div>
            <div class="level scroll-fade-in delay-2">
                <div class="box">
                    <div class="percent" data-text="MYSQL" style="--num: 70">
                        <div class="dot"></div>
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                    </div>
                    <div class="number">
                        <h2>70<span>%</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="badges">
        <p class="section-title parallax" data-parallax="-1">Badges</p>
        <h2 class="scroll-fade-in">Badges</h2>
        <a href="https://www.credential.net/74168449-3ebe-4438-89d0-16615e8e0860#acc.SAPJaMDE" target="_boolean" class="badge scroll-fade-in delay-1">
            <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/83638629" alt="boolean badge">
            <p>Boolean Careers</p>
        </a>
    </section>
</div>