<footer class="container" id="footer">
    <div class="footer-col scroll-fade-in delay-2">
        <h2>Let's talk</h2>
        <p class="footer-descr">A small message can lead to something <mark>meaningful</mark>.<br>Every idea begins with a conversation—let’s see where it takes us.</p>
        <a href="mailto:timoncinidev@gmail.com" class="footer-link">timoncinidev@gmail.com</a>
        <div class="socials">
            <a href="https://github.com/AlexTimoncini/" class="social">
                <img src="./assets/images/github.svg" alt="github icon" class="img-fluid">
            </a>
            <a href="https://linkedin.com/in/alex-timoncini" class="social">
                <img src="./assets/images/linkedin.svg" alt="github icon" class="img-fluid">
            </a>
        </div>
    </div>
    <div class="footer-col scroll-fade-in delay-3">
        <h2>Latest Blog</h2>
        <div id="latest-blog">
            <div class="footer-blog">
                <div class="desc">
                    <span>February 28, 2025</span>
                    <h3><a href="#/blog">A new blog article will be uploaded very soon.</a></h3>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">© Copyright ©2025 All rights reserved | This portfolio is entirely handcrafted with pure code—no libraries, no frameworks, just <mark>vanilla simplicity</mark>.</p>
</footer>