<nav class="container" id="navbar">
    <a href="/" class="logo">
        <img src="./assets/images/logo.svg" alt="alex logo" class="img-fluid">
    </a>
    <div class="burger-btn">
        <i id="burger"></i>
    </div>
</nav>
<div class="nav-menu">
    <ul>
        <li><a href="#/home" id="home-link">HOME</a></li>
        <li><a href="#/skills" id="skills-link">SKILLS</a></li>
        <li><a href="#/journey" id="journey-link">JOURNEY</a></li>
        <li><a href="#/gallery" id="gallery-link">GALLERY</a></li>
    </ul>
</div>