*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

:root {
    /*COLORS*/
    --bg: #fafafa;
    --white: #fff;
    --black: #000;
    --gray: #808080;
    --lgray: #f0f0f0;
    --mgray: #d9d9d9;
    --main-color: #79c3bd;
    /*FONTS*/
    --pri-font: 'Karla';
    --sec-font: 'Playfair';
}

::-moz-selection { /* Code for Firefox */
    color: var(--white);
    background: var(--main-color);
}

::selection {
    color: var(--white);
    background: var(--main-color);
}
body{
    min-height: 100vh;
    font-family: var(--pri-font), sans-serif;
    color: var(--gray);
    background: var(--bg);
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}
.img-fluid{
    display: block;
    height: 100%;
    width: 100%;
}
.common-text{
    line-height: 1.8rem;
}
mark{
    background-color: transparent;
    color: var(--main-color);
}
.button{
    display: block;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--mgray);
    color: var(--black);
    background-color: transparent;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 1px;
    cursor: pointer;
    transition: all .25s linear;
}
.button:hover{
    background-color: var(--main-color);
    color: var(--bg);
    border-color: var(--main-color);
}
.section-title{
    position: absolute;
    font-family: var(--sec-font), serif;
    font-size: 250px;
    color: var(--lgray);
    font-weight: 700;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.scroll-fade-in{
    opacity: 0;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    transform: translateY(-10px);
}
.scroll-fade-in.delay-1{
    -webkit-transition-delay: .15s;
    -o-transition-delay: .15s;
    transition-delay: .15s;
}
.scroll-fade-in.delay-2{
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}
.scroll-fade-in.delay-3{
    -webkit-transition-delay: .35s;
    -o-transition-delay: .35s;
    transition-delay: .35s;
}
.scroll-fade-in.visible{
    transform: translateY(0);
    opacity: 1;
}
.section-name{
    position: absolute;
    right: calc(100% - 50px);
    top: 0;
    transform: translateX(50%);
    rotate: 90deg;
    color: var(--black);
    font-weight: normal;
    letter-spacing: 10px;
    font-size: 0.9rem;
    white-space: nowrap;
}
.section-name::after {
    position: absolute;
    top: 8px;
    right: -40px;
    content: '';
    background: var(--black);
    width: 40px;
    height: 1px;
}
h1,h2{
    line-height: 1.3;
    font-size: 50px;
    color: var(--black);
    margin: 30px 0;
    font-family: var(--sec-font), serif;
    font-weight: normal;
}
h2{
    font-size: 34px;
}
.socials{
    margin: 1rem 0 1.5rem;
    display: flex;
    column-gap: .5rem;
}
.social{
    display: block;
    height: 35px;
    width: 35px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    padding: 6px;
    transition: all .33s ease ;
}
.social:hover{
    transform: scale(1.1);
}
.pb-4{
    padding-bottom: 2rem!important;
}
.pt-4{
    padding-top: 2rem!important;
}
.pb-2{
    padding-bottom: 1rem!important;
}
.pt-3{
    padding-top: 1.5rem!important;
}
.p-0{
    padding: 0!important;
}





@media screen and (max-width: 1169px){
    .container{
        max-width: 970px;
    }
}
@media screen and (max-width: 969px){
    .container{
        max-width: 750px;
    }
}
/*FONT*/
@font-face {
    font-family: 'Playfair';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Karla';
    src: url(../fonts/Karla/Karla-VariableFont_wght.ttf) format('truetype');
}