#main{
    padding: 50px 20px;
}
header{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
section{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 150px;
    padding-bottom: 50px;
}
.hero{
    width: 40%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    max-height: 500px;
}
header .hero{
    background: linear-gradient(-45deg, var(--main-color), var(--lgray));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@-webkit-keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.hero img{
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    display: block;
}
.content{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fade-in{
    animation: fade-out-in 0.5s ease forwards;
}
@keyframes fade-out-in {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.d-auto{
    max-width: 65%;
    margin: 0 auto;
}
.descr{
    position: relative;
    padding-left: 50px;
}
.list-wrap{
    display: flex;
    flex-wrap: wrap;
}
.list-wrap .scroll-fade-in{
    width: calc(50% - 10px);
    margin-bottom: 2rem;
}
.list-wrap h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 0 15px 0;
}
.list-wrap ul{
    display: block;
    margin-bottom: 1.5em;
    padding-left: 40px;
}
.list-wrap li{
    list-style: none;
    margin-bottom: 10px;
    line-height: 1.6;
}
.list-wrap li::before{
    content: '\2022';
    color: #000;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
#skills .content {
    width: 70%;
}
#skills .hero{
    width: 30%;
    max-height: none;
}
#skills .hero:hover img{
    transform: scale(1.1);
}
#skills .hero img{
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 2s linear;
}
#works {
    text-align: center;
}
#works .content-works{
    width: 100%;
}
.container-project{
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
}
.hero-projects{
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    max-width: 50vh;
    margin: 0 auto;
    background-color: var(--black);
    cursor: pointer;
}
.hero-projects img{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all .33s ease-in;
    border: 1px solid var(--lgray);
}
.hero-projects h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg);
    color: var(--black);
    font-size: 1.5rem;
    font-family: var(--sec-font), sans-serif;
    font-weight: lighter;
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.6) 0 7px 29px 0;
    transition: all .33s ease-in;
}
.hero-projects:hover h3{
    transform: scale(1.2) translate(-40%, -40%);
    transform-origin: center;
}
#works .button{
    margin: 1rem auto 0;
}
.work-descr{
    padding: 1.5rem 0 1rem;
    margin: 0 auto;
    max-width: 50vh;
}
@media screen and (max-width: 350px){
    .descr{
       padding-left: 20px;
    }
}
@media screen and (max-width: 969px){
    .hero{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    #skills .content{
        width: 100%;
    }
    .d-auto{
        max-width: 100%;
    }
    #skills .hero{
        display: none;
    }
}
@media screen and (max-width: 750px){
    .section-title{
        font-size: 100px;
        top: 50px;
    }
    .list-wrap .scroll-fade-in{
        width: 100%
    }
    .list-wrap .scroll-fade-in.delay-1,
    .list-wrap .scroll-fade-in.delay-2,
    .list-wrap .scroll-fade-in.delay-3{
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
}
@media screen and (max-width: 350px){
    .section-title{
        font-size: 80px;
        top: 70px;
    }
}