#journey{
    position: relative;
    height: calc(100vh - 124px);
}
.descr{
    position: relative;
}
.svg{
    max-height: 50vh;
}
#paperBoat{
    height: 100%;
    max-width: 500px;
    width: 80vw;
    margin: 10rem auto 0;
    display: block;
}
#diveIn{
    transition: all .33s ease-in;
    opacity: 0;
    display: block;
    margin: 0 auto;
    border: 2px solid var(--main-color);
    transform: translateY(-2px);
}
#diveIn.active{
    opacity: 1;
}
.section-name{
    right: 0;
}
.experience{
    font-size: clamp(1.3rem, 2vh, 2rem);
    color: var(--main-color);
    font-family: var(--sec-font);
}
.exp-wrap{
    width: calc(50% - 4px);
    border-bottom: 3px solid var(--main-color);
    margin-bottom: 10rem;
    padding-bottom: 10px;
    translate: 3px;
}
.exp-wrap:nth-of-type(2n+1){
    text-align: right;
    margin-left: auto;
    translate: -3px;
}
.exp-wrap:last-of-type{
    text-align: center;
    margin: 0 auto;
    translate: 0;
    position: relative;
    z-index: 1;
    background-color: var(--bg);
    border: 3px solid var(--main-color);
}
#path{
    position: relative;
    padding-top: 30px;
    margin-top: 100px;
}
#path .svg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
@media screen and (max-width: 750px){
    .section-title{
        font-size: 100px;
        top: 50px;
    }
    #paperBoat{
        margin: 5rem auto 0;
    }
}
@media screen and (max-width: 350px){
    .section-title{
        font-size: 80px;
    }
}