#main{
    padding: 50px 20px;
}
section{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 50px;
}
.section-title{
    top: -150px
}
.hero{
    width: 40%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    max-height: 500px;
}
.hero img{
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    display: block;
}
.content{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fade-in{
    animation: fade-out-in 0.5s ease forwards;
}
@keyframes fade-out-in {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.descr{
    position: relative;
    padding-left: 50px;
}
.list-wrap{
    display: flex;
    flex-wrap: wrap;
}
.list-wrap .scroll-fade-in{
    width: calc(50% - 10px);
    margin-bottom: 2rem;
}
.list-wrap h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 0 15px 0;
}
.list-wrap ul{
    display: block;
    margin-bottom: 1.5em;
    padding-left: 40px;
}
.list-wrap li{
    list-style: none;
    margin-bottom: 10px;
    line-height: 1.6;
}
.list-wrap li::before{
    content: '\2022';
    color: #000;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
#skills{
    padding-bottom: 150px;
}
#skills .content {
    width: 70%;
}
#skills .hero{
    width: 30%;
    max-height: none;
}
#skills .hero:hover img{
    transform: scale(1.1);
}
#skills .hero img{
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 2s linear;
}
#levels, #badges{
    padding-top: 20px;
    display: block;
}
.levels {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.level .box{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.level .box .percent {
    position: relative;
    width: 150px;
    height: 150px;
}
.level .box .percent::before {
    content: attr(data-text);
    position: absolute;
    inset: 20px;
    background: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg);
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.level .box .percent .dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
}
.animateDot{
    animation: animateDot 2s ease-in-out forwards;
}
.level .box .percent .dot::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: var(--main-color);
    border-radius: 50%;
}
.level .box .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
.level .box .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: var(--mgray);
    transform: translate(5px, 5px);
}
.level .box .percent svg circle:nth-child(2) {
    stroke: var(--main-color);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
}
.showIn{
    animation: showIn .5s linear forwards;
    animation-delay: 2s;
}
.level .number h2{
    margin: 5px 0 0;
}
#badges{
    text-align: center;
    margin-top: 50px;
}
.badge{
    text-decoration: none;
    display: inline-block;
}
.badge img{
    border: 3px solid var(--main-color);
    border-radius: 5px;
    max-width: 100%;
    max-height: 400px;
}
.badge p{
    color: var(--main-color);
    text-decoration: none;
    font-family: var(--sec-font), serif;
    font-size: 1.5rem;
}
@keyframes animateDot{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc(3.6deg* var(--num)));
    }
}
@-webkit-keyframes animateDot{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc(3.6deg* var(--num)));
    }
}
@keyframes showIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes showIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 750px){
    .section-title{
        font-size: 100px;
        top: -100px;
    }
    .list-wrap .scroll-fade-in{
        width: 100%
    }
    .list-wrap .scroll-fade-in.delay-1,
    .list-wrap .scroll-fade-in.delay-2,
    .list-wrap .scroll-fade-in.delay-3{
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
}
@media screen and (max-width: 350px){
    .section-title{
        font-size: 80px;
        top: -70px;
    }
}
@media screen and (max-width: 969px){
    .hero{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    #skills .content{
        width: 100%;
    }
    .d-auto{
        max-width: 100%;
    }
    #skills{
        padding-bottom: 100px;
    }
    #skills .hero{
        display: none;
    }
}